# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environment
venv/
env/
ENV/
.venv/

# Django stuff:
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3
media/

# If using Django migrations
*/migrations/*.pyc
*/migrations/__pycache__/

# Django local settings
local_settings.py

# Pytest
.pytest_cache/
.cache/
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# IDEs and editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# Distribution / packaging
*.egg
*.egg-info/
dist/
build/
.eggs/


#nodejs

node_modules
